.logo{
    width: 400px;
}
.info{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
    position: relative;
    left: -60px;
}
.content{
    padding-left: 2vw;
    width: 40vw;
    text-align: justify;
    position: relative;
    top: -30px;
}
.profile{
    font-size: 320px;
    height: 50vh;
    position: relative;
    top: -70px;
    left: 20px;
    color: rgb(52, 52, 174);
    font-family: "Philosopher", sans-serif;
    font-weight: bolder;
    
}
.profile p{
    display: inline-block;
    position: relative;
    margin: 0px;
    background: linear-gradient(60deg, #796bf8, #1900ff,#20129b, #8c80ff);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.p1{
    top: -80px;
    margin:0px;
    padding: 0px;
    }
.p2{
    left: -50px;
}
.p3{
    top: 80px;
    margin: 0px;
    padding: 0px;
    left: -100px;
}
.content h1{
    font-family: "Philosopher", sans-serif;
    font-size: 60px;
    margin: 0px;
}
.content h1> p{
    display: inline-block;
    font-size: 100px;
    color:rgb(88, 88, 255);
    font-family: "Dancing Script", cursive;
    font-weight: bolder;
    margin: 0px;
    position: relative;
    top: -5px;
    background: linear-gradient(50deg, #3220f8, #1000bb,#4b3dcc, #7b6dfa);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
.content h2{
    color: rgb(153, 153, 252);
    font-size: 34px;
    margin: 0px;
    position: relative;
    top: -20px;
    background: linear-gradient(90deg, #465ffe, #8797ff,#7789ff, #8798d1);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}
#intro{
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: lighter;
    color: rgb(167, 209, 247);
    margin: 0px;
}
body{
    color: aliceblue;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgb(0, 0, 86) 90% );
}
.buttons{
    font-size: 50px;
}
button{
    margin: 0 20px 0 0;
    background-color: #072894;
    font-size: 25px;
    color: rgb(2, 138, 230);
    border: 0px solid rgb(0, 15, 26);
    border-radius: 10px;
    padding: 0 7px 5px 7px;
}

a{
    text-decoration: none;
    color: #afb9fa;
}

.feat> div{
    background-color: #090069;
    border-radius: 10px;
}
.feat> div>h3{
    color: #cad2ed;
}
.feat> div> p{
    color: #a19ccd;
}