
header{
    background-color:#000000;
    border: 5px solid #000000;
    opacity: 90%;  
    width: fit-content;
    margin: auto;
}

#background{
    object-fit: cover;
    opacity: 0.4;
}
a:link {
    color: rgb(185, 236, 91);
    background-color: transparent;
    text-decoration: none;
  }
  a:visited {
    color: rgb(185, 236, 91);
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: rgb(185, 236, 91);
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color: rgb(185, 236, 91);
    background-color: transparent;
    text-decoration: underline;
  }
#project{
    margin-top: 20px;
    margin-left:10px;
}
#about{
    margin-left: 110px;
    margin-top: -47px;
}
#contact{
    margin-left: 190px;
    margin-top: -47px;
}
#centreh{
    font-family: "Chakra Petch", sans-serif;
    color: rgb(185, 236, 91);
    font-size: 23px;
    margin-left: 510px;
    margin-top: -75px;
}
#github{
    margin-left: 1350px;
    margin-top: -75px;
}
#instagram{
    margin-left: 1405px;
    margin-top: -60px;
}
#linkedin{
    margin-left: 1460px;
    margin-top: -60px;
}
body{
    background-color: black;
    background-image: url('./images/backgroung/bg.gif');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
  }




#body{
    color: #85ab54;
    text-align: center;
    font-family: "Kode Mono", monospace;
    font-size: 50px;
}
#quote{
    font-family: "Kode Mono", monospace;
    color: #85ab54;
    text-align: center;
    font-size: 27px;
}
#panel{
    height:auto;
    width: fit-content;
    background-color:#545454 ;
    margin-top: 50px;
    padding-top: 1px;
    margin-left: 60px;
    margin-right: 60px;
    opacity: 70%;
    padding-right: 50px;
}
.grid{
    width: 400px;
    height: 400px;
    opacity: 100%;
}
.left{
    margin-top: 50px;
    margin-left: 50px;
}
.centre{
    margin-top: -405px;
    margin-left: 490px;

}
.right{
    margin-top: -405px;
    margin-left: 930px;

}



#profile{
    width: 320px;
    margin-left: 100px;
    margin-top: 70px;
    border-radius: 50%;
}
#content{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #9bc663;
    text-align: justify;
    font-size: 20px;
    margin-top: -310px;
    margin-left: 550px;
    margin-right: 100px;
}
#skills{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #9bc663;
    text-align: left;
    font-size: 18px;
    margin-left: 550px;
    margin-top: 10px;
    margin-right: 100px;
}
.rule{
    margin-left: 550px;
    margin-right: 100px;
}
#skillhead{
    font-size: 18px;
}
#skilllist{
    font-size: 16px;
    list-style-type: none;
    margin-top: -10px;
}
#cgpa{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: whitesmoke;
    text-align: left;
    margin-left: 550px;
    margin-right: 100px;
    background-color: #9bc663;
    padding-left:50px;
    padding-top: 7px;
    padding-bottom: 20px;
    margin-top: 5px;
}
#currcgpa{
    margin-top: 5px;
    font-size: 20px;
}
#resume{
    color: whitesmoke;
    text-align: left;
    font-size: 16px;
    margin-left: 550px;
    margin-top: -20px;
    margin-right: 10px;
    padding-left: 50px;
    padding-left:50px;
}




.contact-line{
    margin-top: 40px;
    margin-bottom:-40px;
    color: #85ab54;
    text-align: center;
    font-family: "Kode Mono", monospace;
    font-size: 25px;
}
